.addresult::-webkit-scrollbar {
    display: none;
  }

  .heading{
    /* margin-top: 400px; */
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    text-decoration: underline;
  }